@use './vars' as *; 

@mixin flex($justify-content: center, $align-items: center, $direction: row){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin font($weight: inherit, $color:  inherit, $family: $firaSans, $text-decoration: none, $letter-spacing: normal, $text-transform: none ){
    font-weight: $weight;
    color: $color;
    font-family: $family;
    text-decoration: $text-decoration;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

@mixin position($position, $top: auto, $bottom: auto, $left: auto, $right: auto){
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}