@use '../utils/mixin' as *; 
@use '../utils/vars' as *; 

//___________________ Pagina COMICS
#comics-list{
    header{
        margin: 20px 0 50px 0;
    }
}

.add{
    @include flex;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 50%;
    transition: all 0.3s;
}

.add:hover{
    color: $primary-color;
    border: 3px solid $primary-color;
}

.comics-title {
    @include font($color: white, $text-transform: uppercase);
    background-color: $primary-color;
    display: inline-block;
    padding: 10px;
}

.card-title {
    font-family: $firaSans;
    text-transform: uppercase;
}

.card-subtitle{
    @include font(400, #666666, $firaCode, $letter-spacing:3px);
    font-size: 14px;
    margin: -2px 0 14px 0;
}