@use './utils/mixin' as *; 
@use './utils/vars' as *; 

// Footer
footer{
    @include font(600, white, $firaSans);
    background-color: black;
    padding: 30px;
}

// Logo
.footer-logo{
    img{
        width: 75px
    }
    margin-bottom: 16px
}

// Link della Navbar
.footer-link{
    @include font(600, white, $firaSans, $text-transform: uppercase);
    display: inline-block;
}

.footer-link:not(:last-child)::after{
    content: '|';
    color: white;
    margin: 0 14px;
}

.footer-link:hover{
    color: $primary-color;
    transition: all 0.3s;
}