@use './utils/colors' as *; 
@use './utils/vars' as *; 

footer{
    background-color: black;
   @include font(600, white, $firaSans);
    padding: 30px;
}

.footer-logo{
    img{
        width: 75px
    }

    margin-bottom: 16px
}

.footer-link{
    @include font(600, white, $firaSans);
    text-transform: uppercase;
    display: inline-block;
}

.footer-link:not(:last-child)::after{
    content: '|';
    color: white;
    margin: 0 14px;
}

.footer-link:hover{
    color: $primary-color;
    transition: all 0.3s;
}